body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
#chip-wrapper > div {
  background-image: linear-gradient( currentColor, currentColor ), url( dropshadow.png );   /* rgba(0,0,0,0) */
  background-position: 50% 0%, 0 10%;
  background-repeat: no-repeat, no-repeat;
  background-size: 94% 94%, 100% 100%;
  overflow: visible;
  opacity: 0;
  position: absolute;
  transform-origin: center center 0px;
  transform: translate3d( 0px, 0px, 0px ) scale3d( 1, 1, 1 );
  transition: transform 1s;
  /* transition-timing-function: cubic-bezier(0.690, 0.805, 0.475, 0.905); */
  z-index: 1;
}
#chip-wrapper .chip-n, #chip-wrapper .chip-s, #chip-wrapper .chip-nw, #chip-wrapper .chip-w, #chip-wrapper .chip-sw, #chip-wrapper .chip-ne, #chip-wrapper .chip-e, #chip-wrapper .chip-se, #chip-wrapper .chip-large {
  opacity: 1;
  z-index: 2;
}
.chip-priming {
  opacity: 0;
}
#chip-wrapper .chip-large {
  /*background-position: 45% 20%, 0 10%;
  background-size: 84% 84%, 100% 100%;*/
  z-index: 3;
}
#wrapper {
  background: #efefee;
  height: 462px;  /* 587 */
  position: relative;
  width: 1176px; /* 1049 */
}
.grid-overlay,
#chip-wrapper,
#mouse-listener {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#chip-wrapper {
    z-index: 3;
}
#mouse-listener {
    position: relative;
    z-index: 4;
}
#color-wall-canvas {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1;
}